<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Account Setting</title>
        <link rel="stylesheet" href="../static/css/reset.css" />
        <link rel="stylesheet" href="../static/css/accountSetting.css" />
        <link rel="stylesheet" href="../static/css/header.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div id="header">
            <header>
               <a href="index.html" id="logo">
               <img src="../static/images/logo_blue.png" alt="UBC Forums" height="80px"></a>
               <a href="" id="dash">Dashboard</a>
               <a href="" id="map">Map</a>
               <a href="analysis.html" id="analysis">Analysis</a>
               <a id='user' href="login.html"><img alt='Profile' src = '../../static/images/defaultPic.png' height="50px"></a>
           </header>
        </div>
        <div id="title">
            <h1>Account</h1>
            <a href="#" id="logout">Logout</a>
        </div>
        <p><h1 id="greeting">Hi _________,</h1></p>
        <form id="form" action="#" method="POST">

            <input type="text" name="firstname" placeholder="First Name" id="firstname">
            <input type="text" name="lastname" placeholder="Last Name" id="lastname"><br>
            <div id="email-password">
                <input type="email" name="curremail" placeholder="Email Address" id="curremail"><br>
                <input type="password" name="currpass" placeholder="Your Password" id="currpass">
            </div>
            
            <img src="../static/images/logo_blue.png" id="userPic">
            <a href="#"><p id="edit">✏︎Edit</p></a>

            <div id="newPassword">
                <input type="password" name="firstname" placeholder="New Password" id="newpass">
                <input type="password" name="firstname" placeholder="Confirm Password" id="confirmpass">
            </div>
    
            <input type="submit" name="submit" value="Save Change" id="save">
        </form>
        
        <footer>
            <div>
            <p id="copy">Copyright &copy 2024 BlueBuffalo Inc. All right reserved.</p>
            <nav id="navigate">
               <a href="#" id="policy">Privacy Policy</a> |
               <a href="#" id="cookies">Use of Cookies</a> |
               <a href="#" id="use">Term of Use</a> |
            </nav>
            <div id="info">
               <p><strong>Blue Buffalo Office</strong></p>
               <div id="address">
                  <p>3333 University Way</p>
                  <p>Kelowna, BC</p>
                  <p>V1V 1V7</p>
               </div>
            </div>
            <div id="contact">
               <p><strong>Contact Us</strong></p>
               <p id="email">bluebuffalo@ubc.ca</p>
            </div>
            </div>
         </footer>
   </body>
  
</html>
