{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}

{% block content %}
    <main id="account-setting">
        <div id="title">
            <h1>Account</h1>
            <a href="/logout" id="logout">Logout</a>
        </div>
        {% if current_user.is_authenticated %}
            <h1 id="greeting">Hi {{current_user.firstName}},</h1>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <h1 style="text-align:center"> Please log in</h1>
        {% endif %}
        <form id="form" action="/newAccount" method="POST">
            <input type="text" name="firstname" placeholder="First Name" id="firstname">
            <input type="text" name="lastname" placeholder="Last Name" id="lastname"><br>
            <div id="email-password">
                <input type="email" name="curremail" placeholder="Email Address" id="curremail"><br>
                <input type="password" name="currpass" placeholder="Your Password" id="currpass">
            </div>
            
            <img src="../static/images/logo_blue.png" id="userPic">
            <a href="#"><p id="edit">✏︎Edit</p></a>

            <div id="newPassword">
                <input type="password" name="firstname" placeholder="New Password" id="newpass">
                <input type="password" name="firstname" placeholder="Confirm Password" id="confirmpass">
            </div>

            <input type="submit" name="submit" value="Save Change" id="save">
        </form>
    </main>
{% endblock %}