<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Account Setting</title>
        <link rel="stylesheet" href="../styles/reset.css" />
        <link rel="stylesheet" href="../styles/accountSetting.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            $(function(){
            $("#header").load("header.html");
            });
            $(function(){
            $("#footer").load("footer.html");
            });
            </script>
    </head>
    <body>
        <div id="header">
            <h1>Account Setting</h1>
        </div>
        <div>
            <table>
                <tr>
                    <th> UserId </th>
                    <td> Josh</td>
                </tr>
                <tr>
                    <th> User Name </th>
                    <td> Josh</td>
                </tr>
                <tr>
                    <th> Email </th>
                    <td> Josh@gmail.com </td>
                </tr>
                <tr>
                    <th> Password </th>
                    <td> ******* </td>
                </tr>
                <tr>
                    <th> City </th>
                    <td> Las Vegas </td>
                </tr>
            </table>
        </div>
   </body>
  
</html>
