<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Analysis</title>
        <link rel="stylesheet" href="/styles/analysis.css" />
        <link rel="stylesheet" href="/styles/reset.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            $(function(){
            $("#header").load("header.html");
            });
            $(function(){
            $("#footer").load("footer.html");
            });
            </script>
    </head>
    <body>
        <div class="wrapper">
            <div id="header"></div>
            <h1>Analysis of _______ city</h1>
            <p id="cityMap"></p>
            <div id="left">
                <p id="average">Average amount of each polutant<br>
                    <p id="chart"></p></p>

                <p id="comment">User Comments</p>
            </div>
            <div id="footer"></div>
        </div>
   </body>
  
</html>