{% extends "base.html" %}

{% block title %}Analysis{% endblock %}

{% block content %}
    <main id="analysis-page">
        <div class="wrapper">
            <h1>Analysis of {{city}}</h1>
            <div class="map" id="cityMap"></div>
            <script >
                document.addEventListener('DOMContentLoaded', function() {
                var currentCity = "{{ city }}";
                var currentLat = "{{ lat }}";
                var currentLong = "{{ long }}";

                var map = L.map('cityMap', {
                    center: [currentLat, currentLong],
                    zoom: 10
                });

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);

                L.marker([currentLat, currentLong]).addTo(map)
                .openPopup();
            });
            </script>
            <div id="left">
                <p id="chart">
                    <canvas id="pie" width="300px" height="250px"></canvas>
                        <script>
                            var mean = JSON.parse('{{ meanData | safe }}');
                            var ctx = document.getElementById('pie');
                            var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: ['O3', 'CO', 'SO2', 'NO2'],
                                datasets: [{
                                    data: mean,
                                    backgroundColor: ['#FF4C28', '#F39000', '#F0F300', '#27B450']
                                }]
                            },
                        });
                        </script>
                <p id="title">◾️Mean values of major pollutants (ppm)</p>
                </p>
                <p id="time">
                <canvas id="graph" width="400px" height="250px"></canvas>
                    <script>
                        var total = JSON.parse('{{ total | safe }}');
                        var futureData = JSON.parse('{{ futureVal | safe }}');
                        var combined = total.concat(futureData);
                        var lineCtx = document.getElementById("graph").getContext('2d');;
                        var gradientStroke = lineCtx.createLinearGradient(500, 0, 230, 0);
                        gradientStroke.addColorStop(0, "red");
                        gradientStroke.addColorStop(.4, "red");
                        gradientStroke.addColorStop(1.0, "#6bdbd2");

                        var datasets = [{
                            label: 'Average AQI',
                            data: combined,
                            fill: false,
                            borderColor: gradientStroke,
                            tension: 0.1
                        }];

                        var chartData = {
                            labels: ['2000','2002','2004','2006', '2008', '2010','2012','2014', '2016','2018','2020',"2022","2024","2026","2028","2030"],
                            datasets: datasets
                        };

                        var config = {
                            type: 'line',
                            data: chartData,
                            options: {
                                scales: {
                                    x: {
                                        display: true,
                                        title: {
                                            display: true,
                                            text: 'Year'
                                        }
                                    },
                                    y: {
                                        display: true,
                                        title: {
                                            display: true,
                                            text: 'Average AQI'
                                        }
                                    }
                                }
                            }
                        };
                        var myChart = new Chart(lineCtx, config);
                    </script>
                    ◾️Average AQI in each year<br>0 = No Data
                </p>
                <br>
                <div id="totalComment">
                    <div id="postComment">
                        <form class="comment-form" action="insertComment" method="GET">
                            <input type="hidden" name="city" value={{city}} id="cityInput">
                            <input type="hidden" name="pageType" value="analysis">
                            <input type="text" name="comment" id="commentText"placeholder="Write a comment"><br><br>
                            <button type="submit" id="postButton">Post</button>
                            <script>
                                var cityName = "{{city}}";
                                cityName = cityName.replace(/ /g, " "); // Replace spaces with %20
                                document.getElementById("cityInput").value = cityName;
                            </script>
                        </form>
                    </div>
                    <div id="comment">
                        <ul>
                            {% for comments in comment %}
                                <p id="date">{{ comments.commentDate }}</p>
                                <table id="commentTable">
                                    <tr>
                                        <td id="textColumn"><li id="text">{{ comments.commentText }}</li></td>
                                        <td>
                                            <form action="/delete_comment_analysis" method="post">
                                                <input type="hidden" name="commentId" value="{{ comments.commentId }}">
                                                <input type="hidden" name="city" value="{{ city }}">
                                                <button type="submit" id="deleteButton">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %}
