<!DOCTYPE html>
<html>
    <div id="header">
    <head>
        <meta charset="utf-8">
        <title>Log in</title>
        <link rel="stylesheet" href="../../static/css/header.css" />
        <link rel="stylesheet" href="../../static/css/reset.css" />
    </head>
    <header>
        <div>
            <a href="index.html" id="logo">
                <img src="../../static/images/logo_blue.png" alt="UBC Forums" height="80px"></a>
           <a href="" id="dash">Dashboard</a>
           <a href="map" id="map">Map</a>
           <a href="analysis" id="analysis">Analysis</a>
           <a id='user' href="login"><img alt='Profile' src = '../../static/images/defaultPic.png' height="50px"></a>
        </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    </header>
    </div>
</html>
