<!DOCTYPE html>
<html>
    <div id="header">
    <head>
        <meta charset="utf-8">
        <title>Log in</title>
        <link rel="stylesheet" href="../../static/css/header.css" />
        <link rel="stylesheet" href="../../static/css/reset.css" />
    </head>
    <header>
        <div>
            <a href="index.html" id="logo">
                <img src="../../static/images/logo_blue.png" alt="UBC Forums" height="80px"></a>
           <a href="" id="dash">Dashboard</a>
           <a href="" id="map">Map</a>
           <a href="analysis" id="analysis">Analysis</a>
           <a id='user' href="login"><img alt='Profile' src = '../../static/images/defaultPic.png' height="50px"></a>
        </div>
    </header>
    </div>
</html>
