<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta charset="utf-8">
        <link rel="stylesheet" href="../../static/css/reset.css" />
        <link rel="stylesheet" href="../../static/css/header.css" />
        <link rel="stylesheet" href="../../static/css/main.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>

<body>
    <div id="header">
        <header>
        <div>
            <a href="index" id="logo">
                <img src="../static/images/logo_blue.png" alt="UBC Forums" height="80px"></a>
            <a href="" id="dash">Dashboard</a>
            <a href="" id="map">Map</a>
            <a href="analysis" id="analysis">Analysis</a>
            <a id='user' href="login"><img alt='Profile' src = '../static/images/defaultPic.png' height="50px"></a>
        </div>
        </header>
    </div>
        <div id="dashboard">
        <h1 style="font-size: 30px; border-bottom: 1pt solid black;">Dashboard
            <form id="calendar" style="font-size: 10px;">
                <label  for="start">Start date:</label>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2023-12-31" />
            </form>
        </h1>

        <!--  FIGURE ONE -->
        <figure class="top10city">
            <img src="https://bookdown.org/ndphillips/YaRrr/YaRrr_files/figure-html/unnamed-chunk-285-1.png" id="top10" alt="Top 10 Graph" height="200px">
            <figcaption>Figure 1: Top 10 Cleanest City </figcaption>
        </figure>

        <!--  FIGURE TWO -->
        <figure>
         <canvas id="pie_pollutant_ratio">
                <script>
                    var ctx = document.getElementById('pie_pollutant_ratio');
                    var CO_amount = 10000;
                    var NO2_amount = 30000;
                    var O3_amount = 14000;
                    var SO2_amount = 1000;
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['CO', 'NO2', 'O3', 'SO2'],
                            datasets: [{
                                data: [CO_amount, NO2_amount, O3_amount, SO2_amount],
                                backgroundColor: [
                                    'red',
                                    'orange',
                                    'yellow',
                                    'green',
                                ]
                            }]
                            }
                    });
                </script>
                </canvas>
                <figcaption>Figure 2: Ratio of Top Pollutants </figcaption>
        </figure>

        <!--  FIGURE THREE -->
        <figure>
            <canvas id="scatter_AQI_pop">
                <script>
                    var ctx2 = document.getElementById('scatter_AQI_pop');
                    var aqi = [70, 60, 70, 50, 40, 90, 60];
                    var pop = [7000, 55000, 2500, 53000, 6000, 30000, 120000];
                    var myChart = new Chart(ctx2, {
                        type: 'scatter',
                        data: {
                            datasets: [{
                                data: aqi,
                                pointBorderColor: 'black'
                            }],
                            labels: pop
                        }
                    });
                </script>
                </canvas>
            <figcaption>Figure 3: AQI vs Population </figcaption>
        </figure>

    </div>
    <div id="comment">
        <h1 style="font-size: 20px;">Comment</h1>
        <div class="comment-section">
            <p>That is a good graph</p>
            <p>That is a good graph</p>
        </div>
    </div>
    <div id="post-comment">
        <h1 style="font-size: 20px;">Post Comment</h1>
        <form class="comment-form" action="#" method="POST">
        <input type="text" name="comment" placeholder="Write a comment.."><br>
        <button type="submit" class="login">Post</button>
        </form>
    </div>
    <div id="footer">
        <div id="wrapping">
        <footer>
            <div>
                <p id="copy">Copyright &copy 2024 BlueBuffalo Inc. All right reserved.</p>
                <nav id="navigate">
                    <a href="#" id="policy">Privacy Policy</a> |
                    <a href="#" id="cookies">Use of Cookies</a> |
                    <a href="#" id="use">Term of Use</a> |
                </nav>
                <div id="info">
                    <p><strong>Blue Buffalo Office</strong></p>
                    <div id="address">
                        <p>3333 University Way</p>
                        <p>Kelowna, BC</p>
                        <p>V1V 1V7</p>
                    </div>
                </div>
                <div id="contact">
                    <p><strong>Contact Us</strong></p>
                    <p id="email">bluebuffalo@ubc.ca</p>
                </div>
            </div>
        </footer>
        </div>
    </div>
</body>
</html>