{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
	<main id="login-page">
			<h1>Log into your BlueBuffalo Account</h1>
		<div class="fields">
			{% with messages = get_flashed_messages() %}
            {% if messages %}
               <div class="notification is-danger">
                  {{ messages[0] }}
               </div>
            {% endif %}
            {% endwith %}
			<form id="login-form" action="/login" method="POST">
				<input type="email" id="logEmail" name="email" placeholder="Email Address" required><br>
				<input type="password" id="logPassword" name="password" placeholder="Password" required><br>
				<button type="submit" class="login">Login</button>
			</form>
		</div>
		<nav id="reset">
			<p>Forgot password? <a class="forgot" href="accountSetting">Reset Password </a>or <a class="sign-up-link" href="newAccount">Register Here</a></p>
		</nav>
	</main>
{% endblock %}