{% extends "base.html" %}

{% block title %}Map{% endblock %}

{% block content %}
    <main id="map-page">
        <h1 id="dbd">Air Quality on US Map</h1>
        <div id="legend">
            <h2>Legend</h2><br><br>
            <img src='../static/images/pin_high.png'>
            <p>Good Air Quality</p>
            <p>(AQI < 50)</p><br>
            <img src='../static/images/pin_medium.png'>
            <p>Moderate Air Quality</p>
            <p>(51 < AQI < 100)</p><br>
            <img src='../static/images/pin_low.png'>
            <p>Unhealthy Air Quality</p>
            <p>(100 < AQI)</p><br>
        </div>
        <div class="map" id="mapAK"></div>
        <div class="map" id="mapHI"></div>
        <div class="map" id="mapUS"></div>
        <script>
            const cityCoord = {{ cityList|safe }};
        </script>
        <script src="../static/js/map.js"></script>
    <main>
{% endblock %}