{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}
<main id="new-account">
    <h1>Create Your BlueBuffalo Account!</h1>
    <div class="fields">
        <form action="accountSetting" id='register-form' method="POST">
            <input type="text" id="fname" placeholder="First Name">
            <input type="text" id="lname" placeholder="Last Name"><br>
            <input type="email" id="regEmail" placeholder="Email Address"><br>
            <input type="password" id="pass1" placeholder="Password"><br>
            <input type="password" id="pass2" placeholder="Confirm Password"><br>
            <button type="submit" class="sign-up">Sign Up</button>
        </form>
    </div>
    <div id="login">Already have an account?
        <a id='log' href="login">Login</a>
    </div>
</main>
{% endblock %}