<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- testing pie chart and time-series in analysis page -->
    <form action="analysis" method="post">
        <input type="text" value="Phoenix" name="city">
        <input type="text" value=33.46701848579644 name="latitude">
        <input type="text" value=-112.04594469280266 name="longitude">
        <input type="submit" value="Go to Analysis">
    </form><br>
    <form action="analysis" method="post">
        <input type="text" value="Bethel Island" name="city">
        <input type="text" value="38.0063702313152" name="latitude">
        <input type="text" value="-121.64324943180587" name="longitude">
        <input type="submit" value="Go to Analysis">
    </form><br>
    <form action="analysis.py" method="post">
        <input type="text" value="Lompoc" name="city">
        <input type="text" value="34.63804645442927" name="latitude">
        <input type="text" value="-120.45772381843135" name="longitude">
        <input type="submit" value="Go to Analysis">
    </form>
    
</body>
</html>