body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header, footer{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #6bdbd2;
}
footer{
    position: relative;
    margin-bottom: 0;
    height: 122px;
    background-color: #CBF5E6;
    margin-top: auto;
}
header a {
    text-decoration: none;
    color: black;
}
#policy{
    color: black;
    padding-right: 10px;
}
#cookies, #use{
    color: black;
    padding: 10px;
}
#logo{
    position: absolute;
    left: 20px;
    top: 0px;
}
#header{
    height: 70px;
}
#dash{
    position: absolute;
    right: 350px;
    top: 30px;
}
#map{
    position: absolute;
    right: 260px;
    top: 30px;
}
#analysis{
    position: absolute;
    right: 150px;
    top: 30px;
}
#user{
    position: absolute;
    right: 50px;
    top: 15px;
}
#copy{
    position: absolute;
    left: 50px;
    top: 30px;
}
#navigate{
    position: absolute;
    left: 50px;
    bottom: 30px;
}
#info{
    position: absolute;
    right: 250px;
    top: 15px;
}
#contact{
    position: absolute;
    right: 50px;
    top: 15px;
}
#address,#email{
    padding-top: 8px;
}
#reset a{
    color: #6bdbd2;
    text-decoration: none;
}