#analysis-page .wrapper {
    flex-direction: column;
    min-height: 85vh;
    position: relative;
    margin-right: 20px;
}

#analysis-page {
    background-color:beige;
}

#analysis-page h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
}

#analysis-page #date {
    font-size: 20px;
}

#analysis-page ul {
    list-style-type: none;
}

#analysis-page #text {
    margin-left: 20px;
    padding: 20px;
    border-bottom: solid 2pt #90BDE2;
}

#analysis-page #cityMap {
    display: inline-block;
    border: 0.5pt solid #6bdbd2;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #6bdbd2;
    height: 600px;
    width: 350px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 100px;
}

#analysis-page #left {
    position: absolute;
    right: 20px;
    display: inline-block;
    /* border: 1pt solid black; */
    height: 300px;
    width: 1000px;
    bottom: 450px;
}

#analysis-page #average {
    font-size: 20px;
    margin-left: 50px;
}

#analysis-page #chart {
    height: 400px;
    width: 400px;
    margin-left: 30px;
}

#analysis-page #time {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #6BDBD2;
    width: 550px;
    top: 25px;
    right: 0px;
    font-size: 20px;
    background-color:whitesmoke;
}

#analysis-page #comment {
    position: absolute;
    display: inline-block;
    /* border: 1pt solid black; */
    height: 250px;
    width: 450px;
    top: 450px;
    right: 100px;
    font-size: 30px;
    overflow-y: auto;
    
}

#analysis-page #title {
    margin-left: 70px;
    margin-bottom: 50px;
    font-size: 20px;
}

#analysis-page #postButton {
    background-color: pink;
    border-radius: 5px;
    padding: 0.5em 2em 0.5em 2em;
    margin-left: 255px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#analysis-page #commentText {
    /* border: 1pt solid black; */
    border-radius: 5px;
    height: 100px;
    width: 250px;
    margin-left: 100px;
    padding-left: 1em;
    box-shadow: 0 0 10px 0 #90BDE2;
}

#analysis-page #commentText::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 1em;
    font-size: large;
}