.wrapper{
  flex-direction: column;
  min-height: 85vh;
  position: relative;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
}
#cityMap{
    display: inline-block;
    border: 1pt solid black;
    height: 350px;
    width: 300px;
    margin-left: 100px;
    margin-bottom: 135px;
    position: relative;
}
#left{
    position: absolute;
    right: 150px;
    display: inline-block;
    border: 1pt solid black;
    height: 300px;
    width: 800px;
}
#average{
    font-size: 30px;
}
#chart{
    display: inline-block;
    border: 1pt solid black;
    height: 250px;
    width: 250px;
    margin-top: 5px;
    margin-left: 40px;
}
#comment{
    position: absolute;
    display: inline-block;
    border: 1pt solid black;
    height: 140px;
    width: 800px;
    top: 330px;
    font-size: 30px;
}
