body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header, footer {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #6BDBD2;
}

footer {
    position: relative;
    margin-bottom: 0;
    height: 122px;
    background-color: #CBF5E6;
    margin-top: auto;
}

header a {
    text-decoration: none;
    color: black;
}

#title {
    padding-left: 2em;
    text-align: center;
    font-size: 2.8em;
    text-shadow: 2px 2px 3px white;
}

#title span {
    position: absolute;
    top: 30px;
    padding: 0 0 0 0.5em;
    font-size: 20px;
}

#policy {
    color: black;
    padding-right: 10px;
}

#cookies, #use {
    color: black;
    padding: 10px;
}

#logo {
    position: absolute;
    left: 20px;
    top: 0px;
}

#dash {
    position: absolute;
    right: 260px;
    top: 30px;
}

#map {
    position: absolute;
    right: 160px;
    top: 30px;
}

#user {
    position: absolute;
    right: 50px;
    top: 15px;
}

#copy {
    position: absolute;
    left: 50px;
    top: 30px;
}

#navigate {
    position: absolute;
    left: 50px;
    bottom: 30px;
}

#info {
    position: absolute;
    right: 280px;
    top: 15px;
}

#contact {
    position: absolute;
    right: 50px;
    top: 15px;
}

#address, #email {
    padding-top: 8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    right: 50px;
    top: 65px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}