.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}
#logEmail, #logPassword {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    align-items: center;
    width: 450px;
}
#logEmail {
    margin-top: 3em;
}
.login {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    margin-top: 3em;
    border-radius: 1em;
    align-items: center;
    width: 150px;
    margin-left: 180px;
    background-color: #6BDBD2;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.fields, #reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset a{
    color: #6BDBD2;
    text-decoration: none;
}