#index-page {
    margin: 1.5em;
    height: 800px;
}

#index-page h1 {
    font-size: 50px;
}

#index-page #calendar {
    position: absolute;
    top: 160px;
    left: 740px;
    font-size: 20px;
}

#index-page #calendar input {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#index-page #calendar input[type=submit] {
    border: 2px solid #6DBDB2;
    border-radius: 0.3em;
    background-color: white;
    padding: 0 0.2em 0 0.2em;

}

#index-page #dbd {
    border-bottom: solid 3px black;
}

#index-page #commentDate{
    font-size: 20px;
}

#index-page #comment{
    position: absolute;
    display: inline-block;
    height: 250px;
    width: 330px;
    top: 250px;
    right: 110px;
    font-size: 30px;
    overflow-y: auto;
}
#index-page #postButton{
    background-color: pink;
    border-radius: 5px;
    padding: 7px;
    margin-left: 200px;
}
#index-page #commentText{
    border: 1pt solid black;
    border-radius: 5px;
    height: 100px;
    width: 250px;
    margin-top: 450px;
}
#index-page #text{
    margin-left: 20px;
    padding: 20px;
    border-bottom: solid 1pt black;
}
#index-page ul {
    list-style-type: none;
}
#index-page #dashboard {
    float: left;
    width: 950px;
    padding-left: 70px;
    padding-top: 2em;
}

#index-page #top10city {
    float: left;
    margin: 1em;
}

#index-page #least10city {
    float: left;
    margin: 1em;
}

#index-page #pollutantRatio {
    float: left;
    margin: 1em;
}

#index-page #aqi-population {
    float: left;
    margin: 1em;
}

#index-page #right {
    float: right;
    width: 200px;
    padding-right: 150px;
}
