main {
    margin: 1.5em;
    height: 800px;
}

h1 {
    font-size: 50px;
}

#calendar {
    position: absolute;
    top: 160px;
    left: 740px;
    font-size: 20px;
}

#calendar input {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#calendar input[type=submit] {
    border: 2px solid #6DBDB2;
    border-radius: 0.3em;
    background-color: white;
    padding: 0 0.2em 0 0.2em;

}

#dbd {
    border-bottom: solid 3px black;
}
#commentDate{
    font-size: 20px;
}
#comment{
    position: absolute;
    display: inline-block;
    height: 250px;
    width: 330px;
    top: 250px;
    right: 110px;
    font-size: 30px;
    overflow-y: auto;
}
#postButton{
    background-color: pink;
    border-radius: 5px;
    padding: 7px;
    margin-left: 200px;
}
#commentText{
    border: 1pt solid black;
    border-radius: 5px;
    height: 100px;
    width: 250px;
    margin-top: 450px;
}
#text{
    margin-left: 20px;
    padding: 20px;
    border-bottom: solid 1pt black;
}
ul {
    list-style-type: none;
}
#dashboard {
    float: left;
    width: 950px;
    padding-left: 70px;
    padding-top: 2em;
}

#top10city {
    float: left;
    margin: 1em;
}

#least10city {
    float: left;
    margin: 1em;
}

#pollutantRatio {
    float: left;
    margin: 1em;
}

#aqi-population {
    float: left;
    margin: 1em;
}

#right {
    float: right;
    width: 200px;
    padding-right: 150px;
}
