#index-page {
    margin: 1.5em;
    height: 900px;
}

#index-page h1 {
    font-size: 50px;
}

#index-page #calendar {
    position: absolute;
    top: 160px;
    left: 740px;
    font-size: 20px;
}

#index-page #calendar input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#index-page #calendar input[type=submit] {
    border: 2px solid #6DBDB2;
    border-radius: 0.3em;
    background-color: white;
    padding: 0 0.2em 0 0.2em;

}

#index-page #dbd {
    border-bottom: solid 3px black;
    margin-bottom: 0.5em;
}

#index-page #commentDate{
    font-size: 20px;
}

#index-page #comment {
    position: absolute;
    display: inline-block;
    height: 250px;
    width: 330px;
    top: 250px;
    right: 70px;
    font-size: 30px;
    overflow-y: auto;
}

#index-page #postButton{
    background-color: pink;
    border-radius: 5px;
    padding: 0.5em 2em 0.5em 2em;
    margin-left: 155px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#index-page #commentText {
    border-radius: 5px;
    height: 100px;
    width: 250px;
    margin-top: 450px;
    padding-left: 1em;
    box-shadow: 0 0 10px 0 #90BDE2;
}

#index-page #commentText::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 1em;
    font-size: large;
}

#index-page #text {
    margin-left: 20px;
    padding: 20px;
    border-bottom: solid 2pt #90BDE2;
    width: 230px;
}

#index-page ul {
    list-style-type: none;
}

#index-page #dashboard {
    float: left;
    width: 950px;
    padding-left: 70px;
    padding-top: 2em;
}

#index-page #top10city, #index-page #least10city, #index-page #aqi-population {
    float: left;
    margin: 1em;
    padding: 1em;
    background-color: #FFFEF0;
    box-shadow: 0 0 10px 0 #6BDBD2;
}

#index-page #pollutantRatio {
    float: left;
    margin: 1em;
    padding: 1em 115px 1em 1em;
    background-color: #FFFEF0;
    box-shadow: 0 0 10px 0 #6BDBD2;
}

#index-page #right {
    float: right;
    width: 200px;
    padding-right: 150px;
}
