#map-page h1 {
    position: absolute;
    top: 13%;
    font-size: 40px;
    left: 2%;
    border-bottom: 3px solid black;
}

#map-page {
    min-height: 730px;
}

#map-page footer {
    position: absolute;
    bottom: -15%;
}

#map-page #legend {
    height: 73%;
    width: 12%;
    position: absolute;
    left: 2%;
    top: 22%;
}

#map-page #legend h2 {
    font-size: 25px;
    text-align: center;
}

#map-page #legend p {
    font-size: 18px;
    text-align: center;
}

#map-page #legend img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17%;
    width: 30%;
    filter: drop-shadow(5px 3px 1px #6BDBD2);
    object-fit: contain;
}

#map-page #mapUS {
    height: 73%;
    width: 55%;
    border: gray solid;
    box-shadow: 0 0 20px 0 gray;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    top: 22%;
    z-index: 1;
}

#map-page #mapHI, #map-page #mapAK {
    height: 35%;
    width: 25%;
    border: gray solid;
    box-shadow: 0 0 20px 0 gray;
    border-radius: 10px;
    position: absolute;
    left: 16%;
    top: 22%;
}

#map-page #mapHI {
    top: 60%;
}

#map-page #pin_content {
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

#map-page input[type="submit"] {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin: 0.5em 0 0 0.5em;
    padding: 0 0.5em 0 0.5em;
    border: 2px solid #6BDBD2;
    background-color: #6BDBD2;
    border-radius: 3px;
    cursor: pointer;
}