#map-page h1 {
    position: absolute;
    top: 13%;
    font-size: 40px;
    left: 2%;
    border-bottom: 3px solid black;
}

#map-page {
    min-height: 730px;
}

#map-page #mapUS {
    height: 73%;
    width: 64%;
    border: gray solid;
    position: absolute;
    right: 2%;
    top: 22%;
    z-index: 1;
}

#map-page #mapHI, #map-page #mapAK {
    height: 35%;
    width: 30%;
    border: gray solid;
    position: absolute;
    left: 2%;
    top: 22%;
}

#map-page #mapHI {
    top: 60%;
}

#map-page #pin_content {
    text-align: center;
}