h1 {
    position: absolute;
    top: 13%;
    font-size: 40px;
    left: 2%;
}

footer {
    position: absolute;
    bottom: -15%;
}

#mapUS {
    height: 73%;
    width: 64%;
    border: gray solid;
    position: absolute;
    right: 2%;
    top: 22%;
}

#mapHI,
#mapAK {
    height: 35%;
    width: 30%;
    border: gray solid;
    position: absolute;
    left: 2%;
    top: 22%;
}

#mapHI {
    top: 60%;
}

#pin_content {
    text-align: center;
}